table.docutils table.docutils {
	margin-bottom: 0px !important;
}

table.docutils p {
	margin-bottom: 8px !important;
}

table.docutils tr, table.docutils td {
	font-size: 100% !important;
}

.line-block {
	margin-bottom: 24px;
}

.rst-content .line-block
{
	margin-left: 0px;
}

.rst-content .line>.line-block, .rst-content .line-block>.line-block
{
	margin-left: 24px;
}

.rst-content .line-block .line-block, .rst-content .field-body .line-block {
	padding: 4px;
	margin-bottom: 2px;
}

.file > em:before {
	content: "{";
}

.file > em:after {
	content: "}";
}

.file > em {
	color: purple;
}